div{
    width: 100px;
    height: 100px;
    margin: 100px;
    background-color: lawngreen;
    transform: skew(45deg, 60deg);
    color: blue;
}
.omg{
    width: 120px;
    height: 120px;
    margin: 120px;
    background-color: black;
    transform: matrix(5,40deg,70deg,2,6,3);
    color:white;
}